*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.navbar{

position:fixed;

top:0;
left:0;

width:100%;

z-index:999;

transition:.4s;

padding:18px 0;

}

.glass{

background:rgba(8,20,43,.75);

backdrop-filter:blur(18px);

box-shadow:0 8px 25px rgba(0,0,0,.15);

}

.nav-container{

width:92%;

max-width:1400px;

margin:auto;

display:flex;

align-items:center;

justify-content:space-between;

}

.logo img{

height:72px;

transition:.4s;

}

.glass .logo img{

height:64px;

}

.nav-links{

display:flex;

gap:45px;

list-style:none;

}

.nav-links a{

text-decoration:none;

color:white;

font-weight:600;

font-size:17px;

transition:.3s;

}

.nav-links a:hover{

color:#FF6B00;

}

.nav-buttons{

display:flex;

gap:15px;

}

.login-btn{

padding:12px 28px;

border:2px solid white;

border-radius:50px;

text-decoration:none;

color:white;

transition:.3s;

}

.login-btn:hover{

background:white;

color:#0B2447;

}

.register-btn{

padding:12px 30px;

border-radius:50px;

background:#FF6B00;

color:white;

text-decoration:none;

font-weight:600;

transition:.3s;

}

.register-btn:hover{

transform:translateY(-3px);

box-shadow:0 12px 25px rgba(255,107,0,.4);

}