.volunteer{
    padding:100px 0;
    background:white;
}

.volunteer-container{
    width:90%;
    max-width:1400px;
    margin:auto;

    display:grid;
    grid-template-columns:1fr 1fr;
    gap:60px;
    align-items:center;
}

.volunteer-image img{
    width:100%;
    border-radius:20px;
    box-shadow:0 15px 40px rgba(0,0,0,.15);
}

.volunteer-content h2{
    font-size:48px;
    color:#173F6D;
    margin:20px 0;
}

.volunteer-content p{
    color:#666;
    line-height:1.8;
    margin-bottom:25px;
}

.volunteer-content ul{
    list-style:none;
    padding:0;
    margin-bottom:35px;
}

.volunteer-content li{
    margin-bottom:15px;
    color:#173F6D;
    font-weight:600;
}

@media(max-width:992px){

.volunteer-container{
grid-template-columns:1fr;
}

.volunteer-content h2{
font-size:36px;
}

}