.dashboard-preview{

padding:100px 0;

background:#f8fafc;

}

.dashboard-container{

width:90%;
max-width:1400px;

margin:auto;

display:grid;

grid-template-columns:1fr 1fr;

gap:70px;

align-items:center;

}

.dashboard-content h2{

font-size:48px;

margin:20px 0;

color:#173F6D;

}

.dashboard-content p{

line-height:1.8;

margin-bottom:35px;

color:#666;

}

.dashboard-browser{

background:white;

border-radius:18px;

overflow:hidden;

box-shadow:0 20px 45px rgba(0,0,0,.15);

}

.browser-top{

height:45px;

background:#ececec;

display:flex;

align-items:center;

padding-left:18px;

gap:8px;

}

.dot{

width:12px;

height:12px;

border-radius:50%;

}

.red{
background:#ff5f57;
}

.yellow{
background:#ffbd2e;
}

.green{
background:#28c840;
}

.dashboard-browser img{

width:100%;

display:block;

}

@media(max-width:992px){

.dashboard-container{

grid-template-columns:1fr;

}

.dashboard-content h2{

font-size:36px;

}

}